# Sample gitconfig
#

[hub]
        protocol = https
[user]
        name = AUTHORNAME
        email = AUTHOREMAIL

[credential]
        helper = GIT_CREDENTIAL_HELPER

[alias]
        aa = add --all
        ap = add --patch
        ca = commit --amend
        ci = commit -v
        co = checkout
        create-branch = !sh -c 'git push origin HEAD:refs/heads/$1 && git fetch origin && git branch --track $1 origin/$1 && cd . && git checkout $1' -
        delete-branch = !sh -c 'git push origin :refs/heads/$1 && git remote prune origin && git branch -D $1' -
        merge-branch = !git checkout master && git merge @{-1}
        pr = !hub pull-request
        st = status
        up = !git fetch origin && git rebase origin/master

[color]
        diff = auto
        status = auto
        branch = auto
        ui = auto

[core]
        excludesfile = ~/.gitignore
        editor = vim
        autocrlf = input

[apply]
        whitespace = nowarn

[merge]
        ff = only

[mergetool]
        keepBackup = false

[difftool]
        prompt = false

[help]
        autocorrect = 1

[push]
        # See `git help config` (search for push.default)
        # for more information on different options of the below setting.
        #
        # Setting to git 2.0 default to surpress warning message
        default = current

[include]
  path = .gitconfig.local
