[submodule "zsh/submodules/zsh-git-prompt"]
	path = zsh/submodules/zsh-git-prompt
	url = git://github.com/olivierverdier/zsh-git-prompt.git
[submodule "tmux/submodules/tmux-powerline"]
	path = tmux/submodules/tmux-powerline
	url = git://github.com/erikw/tmux-powerline.git
[submodule "zsh/submodules/antigen"]
	path = zsh/submodules/antigen
	url = https://github.com/zsh-users/antigen.git
